

.header {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background-color: rgb(255, 255, 255);
  margin: 0.5em;

}

#Logo {

  width: 8em;
  height: 8em;

}

.navbar {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  box-sizing: border-box;

}

.navbar a {

  font-size: 1.2em;
  font-weight: 600;
  color: black;
  text-decoration: none;
  margin: 0.5em;
  transition: color 0.3s ease;

}

#messi {

  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(45, 47, 94);
  color: rgba(254, 199, 0);
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

}

#messi:hover {

  background-color: #3373b8;
  color: white;
  box-shadow: 0 0 10px rgba(51, 115, 184, 0.5);

}
