

#root {

  margin: 0;
  padding: 0;
  background-color: white;
  position: relative;

}


.Paragraph { 
  
  color: rgb(45, 47, 94);
  font-family: 'Merriweather', serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 1.5em;

  }