

#root {

  margin: 0;
  padding: 0;
  background-color: white;
  position: relative;

}

.WorldWin {

  
  display: flex;
  justify-content: center;
  align-items: center;
  

}

#PhotoWidth {

  width: 70%;


 }