

#root {

  position: relative;
  margin: 0;
  padding: 0;
  background-color: white;

}

.Paragraph {


  text-align: justify;
  margin-top: 1.5em;
  margin-left:2em;
  margin-bottom: 2em;
  margin-right: 2em;
  font-family: 'Merriweather', serif;
  font-size: 1.8em;
  font-weight: bold;
  color: rgb(45, 47, 94);
  
}

